.nono{
color: red;
border: 20px groove blue;
font-size: 40px;
}
#rt{
    color: blueviolet;
    background-color: aqua;
}

.ui{
border: 20px dotted darkblue;
text-shadow: 70px 70px 70px rgb(0, 255, 255);
color: red;
font-size: 40px;
}