.kik{
color: blue;
border: 20px groove gold ;
background-color:blueviolet;
}
#kij{
font-size: 50px;
color: darkred;
}
.f{
color: darkgreen;
background-color: rgb(0, 255, 13);
border: 20px groove red;
}
.o{
color: crimson;
}
#g{
border: 50px groove yellow;
font-size: 50px;
text-shadow: 11px 11px 11px red;
font-weight: 900;
}
.L{
font-size: 30px;
border: 20px groove gold;
color: aquamarine;
text-shadow: 70px 70px 70px rgb red;
font-weight: 900;
}

