.magmafruit {
    color: rgb(165, 42, 149);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-decoration: underline;
     font-style: italic;
     font-weight: 900;
     width: 500px;
     height: 400px;
     background: rgb(51, 255, 0);
     border: 20px solid blue;
     text-shadow: 50px 50px 50px white;
     float: left;
     margin: 20px;
     padding: 20px;
}
.buddhafruit{
    padding: 30px;
}
h1, p{
 font-family: Verdana, Tahoma, sans-serif; 
 font-weight: 900;  
}
#border1{
border: 10px dotted blue;
padding: 20px;
font-family: 'Times New Roman', Times, serif;
font-weight: extra-bold;
}
#border2{
    border: 10px double gold;
    padding: 20px;
}
#border3{
    border: 10px solid green;
    padding: 20px;
}
#border4{
    border: 10px groove brown;
    padding: 30px;
}
.straight{
border: 10px solid black;
margin: 20px;
}
.rounded{
border: 10px solid aqua;
margin: 20px;
border-radius: 15px;
}
.ellipticial{
border: 10px solid red;
margin: 20px;
border-radius: 1000%;
}
.serif{
 font-family: serif; 
 text-align: center;  
}
.sans-serif{
font-family: sans-serif;
text-align: left;
}
.monospace{
    font-family: monospace;
    text-align: right;
}
.cursive{
font-family: cursive;
text-align: justify;
}
.fantasy{
    font-family: fantasy;
}
.small{
font-size: 0.5em;
}
.normal{
font-size: 1em;
}
.big{
font-size:  3em;
}
.image-container{
text-align: center;
background-color: gold;
}
img{
display: block;
border: 30px dotted royalblue;
border-radius: 25px;
box-shadow: 4px 4px 8px red;
opacity: 0.8;
}
img:hover{
opacity: 1;
}
























