p{
background-color: orangered;
font-size: 30px;
font-style: italic;
text-align: center;
}
h1{
font-style: italic;
background-color: gold;
text-align: center;
}
img{
width: 400;
height: 400;
text-align: center;
}