h1{
color: darkblue;
font-style: italic;
text-align: center;
}
p{
color: rgb(253, 253, 253);
text-align: center;
background-color: rgb(255, 0, 0);
font-size: 30px;
font-style: italic;
}
div{
text-align: center;
}
div img{
width: 400;
height: 400;
}
nav{
    text-align: center;
    background-color: cyan;
    font-size: 30px;
    }
    nav a{
    text-decoration: none;
    padding: 20px;
    }