h1{
color: rgb(0, 126, 243);
font-size: 30px;
font-style: italic;
text-align: center;
}
p{
font-size: 40px;
font-style: italic;
background-color: blue;
color: rgb(255, 255, 255);
}
.balls{
text-align: center;
width: 400;
height: 500;
}
nav{
    text-align: center;
    background-color: cyan;
    font-size: 30px;
    }
    nav a{
    text-decoration: none;
    padding: 20px;
    }