p{
font-size: 50px;
text-align: center;
color: rgb(141, 37, 37);
}
.a{
text-align: center;
font-size: 30px;
}
nav{
    text-align: center;
    background-color: cyan;
    font-size: 30px;
    }
    nav a{
    text-decoration: none;
    padding: 20px;
    }